<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>batafsil ma'lumot {{ student.name}} uchun</p>

    <p>Name: {{ student.name }}</p>
    <p>Surname: {{ student.surname }}</p>
    <p>AUID: {{ student.AUID }}</p>
    <p>section: {{ student.section }}</p>
    <hr>
<a href="{% url 'student_info_update' student.pk %}">Yangilash</a><br>
<a href="{% url 'student_info_delete' student.pk%}">O'chirish</a><br>
<a href="{% url 'home' %}">orqaga</a>

</body>
</html>